<form>
    <div class="form-group">
      <label for="inputNroAula">NroAula</label>
      <input type="text" class="form-control" id="inputPaterno" placeholder="NroAula">
    </div>
    
    <div class="form-group">
        <label for="inputPiso">Piso</label>
        <input type="text" class="form-control" id="inputPiso" placeholder="Piso">
    </div>
    
    <div class="form-group">
        <label for="inputCapacidad">Capacidad</label>
        <input type="text" class="form-control" id="inputCapacidad" placeholder="Capacidad">
    </div>
    


    <button type="submit" class="btn btn-primary">Guardar</button>
</form>